body{
    color: var(--color-light);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ---------------------------------------------------------------general */
.col-card{
    padding-top: var(--med-space);
    /* padding: 0px var(--lit-space); */
    width: calc(100% / 6);
}
.col-card .text-main{
    font-weight: 600;
}
.col-card .text-sub{
    font-size: .9em;
    color: var(--color-lightgrey);
}
.container{
    display: flex;
    flex-flow: row nowrap;
    gap: var(--med-space);
    padding-top: var(--med-space);
    padding-right: var(--lit-space);
}

h4{
    padding-top: var(--lit-space);
    color: var(--color-lightgrey);
    font-size: .85em;
}
/* --------------------------------------------------------------------------------main-container */
.main-container{
    height: 100vh;
}
/* --------------------------------------------------------------------------------main-side-content */
.main-side-content{
    flex:1 1 auto;
    width: 100%;
    min-height: 0;
}
/* --------------------------------------------------------------------------------sidebar */
.side-bar{
    flex: 0 0 230px;
    background-color: var(--color-black);
}
/* --------------------------------------------------------------------------------main */
main{
    flex: 1 1 auto;
    background-color: var(--color-dark);
    padding: var(--med-space);
    overflow-y:auto;
}
/* header-fix */
.header-fix{
    position:fixed;
    top:0;
    left: 230px;
    height: 75px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-fix .btn{
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .5px;
    padding: var(--lit-space) var(--high-space);
}
/* nav-header */
.nav-header{
    padding-top:70px;
}
.nav-header ul{
    display: flex;
    justify-content: center;
}
.nav-header ul li{
    padding: var(--lit-space);
    text-transform: uppercase;
    font-size: .75em;
    color: var(--color-lightgrey);
    border-bottom: 1px solid green;
}
main .nav-header ul li hr{
    width: 20px;
}

/* section-played */
.played{
    padding-top: var(--high-space);
}

/* TODO not padding first and last */
/* .played .col-card:not(:nth-child(0)),
.played .col-card:not(:last-child){
    padding: var(--lit-space);
} */
.col-card .text{
    padding: var(--lit-space);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.col-card .text span{
    padding: var(--xs-space);
}
/*--------------------------------------------------------------- section-created */
.created{
    padding-top: var(--high-space);
}

/* ---------------------------------------------------------------section-artists */
.artists{
    padding-top: var(--high-space);
}
.artists .container .img{
    border-radius: 50%;
    overflow: hidden;
}