

/* --------------------------------------------------------------------------------flex-utility */
.d-flex{
    display: flex;
}
.flex-col{
    flex-flow: column nowrap;
}
/* --------------------------------------------------------------------------------main-container */
.main-container{
    height: 100vh;
}
/* --------------------------------------------------------------------------------main-side-content */
.main-side-content{
    flex:1 1 auto;
    width: 100%;
}
/* --------------------------------------------------------------------------------sidebar */
.side-bar{
    flex: 0 0 230px;
}
/* --------------------------------------------------------------------------------main */
main{
    flex: 1 1 auto;
}