@media screen and (max-width:1920px) {
    h2{
        font-size: 2em;
    }
    .nav-header ul li{
        font-size: 1em;
    }
    .col-card .text {
        font-size: 1.3em;
    }
}
@media screen and (max-width:1200px) {
    h2{
        font-size: 1.2em;
    }
    .nav-header ul li{
        font-size: .75em;
    }
    .col-card .text {
        font-size: 1em;
    }
}

@media screen and (max-width:768px) {
    .container {
        flex-flow: row wrap;
        gap: var(--xs-space);
        padding-top: var(--xs-space);
    }

    .col-card {
        width: calc((100% - 20px) / 4);
    }

    .col-card .text {
        font-size: .7em;
    }

    .played,
    .created,
    .artists {
        padding-top: var(--lit-space);
    }

    /* footer */
    footer .mid-footer-bot .bar-audio {
        font-size: .6em;
    }

    footer .left-footer .small-text .text-sub {
        font-size: .8em;
    }
}

@media screen and (max-width:568px) {

    /* main */
    .nav-header ul li {
        font-size: .6em;
    }
    .header-fix .btn{
        font-size: .6em;
    }
    h2{
        font-size: 1.5em;
    }
    .col-card .text {
        font-size: 1em;
    }
    .col-card {
        width: calc((100% - 20px) / 2);
    }

    /* footer */
    footer .small-img {
        padding-right: var(--xs-space);
    }

    footer .small-text {
        padding-right: var(--xs-space);
    }

    footer .icon {
        padding-left: var(--xs-space);
        flex-flow: row wrap;
    }

    footer .left-footer .small-text {
        font-size: .8em;
    }

    footer .right-footer .range-bar {
        display: none;
    }

}

@media screen and (max-width:480px) {
    .container{
        padding-right: 0px;
    }
    .nav-header ul li {
        font-size: .9em;
    }    
    .col-card {
        width: calc(100% / 1);
    }
    .col-card{
        width: 300px;
        margin: 0 auto;
    }
    .col-card img:hover{
        transform: scale(1);
    }
    .col-card .text {
        font-size: 1.5em;
    }
    .header-fix {
        left: 50px;
        width: calc(100% - 50px);
    }
    
    /* side-bar */
    .side-bar {
        flex: 0 0 50px;
        align-items: center;
    }
    .side-bar-top .img-show{        
        display: none;
    }
    .side-bar .playlist-side-bar{
        display: none;
    }
    .side-bar-top .img-hide{
        padding-top: var(--xs-space);
        display: block;
    }
    .side-bar .img-sidebar .small-text{
        display: none;
    }
   
    .side-bar-top .img-sidebar:hover :before {
        position: absolute;
        content: '';
        background-color: var(--color-highlight);
        top: 50%;
        left: -85%;
        width: 20px;
        height: 1px;
        transform: rotate(270deg);
    }
    .side-bar-bot{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: var(--med-space);
        padding-top: var(--med-space);
    }
    .side-bar-bot a i{
        font-size: .7em;
    }
    .side-bar-bot .no-mobile{
        display: none;
    }
    .side-bar-bot a i, 
    .side-bar-bot .user img{
        transition: transform .5s;
    }
    .side-bar-bot a i:hover,
    .side-bar-bot .user img:hover{
        transform: scale(1.4);
    }
   
    /* footer */
    footer{
        justify-content: space-around;
    }
    footer .left-footer .small-img,
    footer .left-footer .small-text{
        display: none;
    }
    footer .right-footer .hr {
        display: none;
    }

}