* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
    /* space */
    --xs-space: 5px;
    --lit-space: 10px;
    --med-space: 20px;
    --high-space:30px;
    --huge-space: 50px;
}

.debugger {
    border: 1px solid red;
}

img {
    width: 100%;
}

/* --------------------------------------------------------------------------------flex-utility */
.d-flex {
    display: flex;
}

.flex-col {
    flex-flow: column nowrap;
}

.sp-bet {
    justify-content: space-between;
}

.al-ite-cen {
    align-items: center;
}

/* other */
.d-block {
    display: block;
}

.t-align {
    text-align: center;
}
/* custom-class */
.hr {
    border: none;
    height: 2px;
    width: 300px;
    background-color: var(--color-lightgrey);
}
.btn{
    border:1px solid var(--color-light);
    padding: var(--lit-space) var(--med-space);
    border-radius: 30px;
}