* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
    /* space */
    --xs-space: 5px;
    --lit-space: 10px;
    --med-space: 20px;
    --high-space: 30px;
    --huge-space: 50px;
}

/* .debugger {
    border: 1px solid red;
} */
/* body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
} */
body, html{
    /* height: -webkit-fill-available; */
    height: 100%;

}
img {
    width: 100%;
    display: block;    
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
}

/* --------------------------------------------------------------------------------flex-utility */
.d-flex {
    display: flex;
}

.flex-col {
    flex-flow: column nowrap;
}

.sp-bet {
    justify-content: space-between;
}

.al-ite-cen {
    align-items: center;
}

/* other */
.d-block {
    display: block;
}

.t-align {
    text-align: center;
}

/* custom-class */
.hr {
    border: none;
    height: 2px;
    width: 300px;
    background-color: var(--color-lightgrey);
}

.btn {
    border: 1px solid var(--color-light);
    padding: var(--lit-space) var(--med-space);
    border-radius: 30px;
    transition: transform 0.2s;
}
.btn:hover{
    transform: scale(1.1);
    border: 1px solid var(--color-highlight);
    color: var(--color-highlight);
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-track {
    background: var(--color-darkgrey); 
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-darkgrey); 
    border-radius: 10px;
    border: 2px solid var(--color-lightgrey);
}

/* Scrollbar hover (cambia aspetto quando ci passi sopra) */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark);
    border: 2px solid var(--color-highlight);
}

/* Scrollbar active (mentre stai cliccando o trascinando) */
::-webkit-scrollbar-thumb:active {
    background-color: var(--color-dark); /* Colore del thumb quando è attivo */
}